<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reto_uno">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_principal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_principal_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reto_uno">
        <activity
            android:name=".productos"
            android:exported="false" />
        <activity
            android:name=".ajustes"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>